.certificates__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.certificates__item {
    background: var(--color-dblue);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.certificates__item:hover {
    border-color: var(--color-blue);
    background: rgba(0, 0, 0, 0.3);
}

.certificates__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 30%;
}

.certificates__item h3 {
    margin: 2rem 0;
}

.certificates__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
}

.certificates__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
}

.certificates__item-content {
    height: 50%;
}

@media screen and (max-width: 1024px){
    .certificates__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .certificates__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}